@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*, *::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body, html {
  height: 100%;
}

html {
  font-size: calc(1em + 1vw);
  font-family: 'Open Sans', sans-serif;
}

#link {
  color: navy;
}

section {
  padding: 1.2rem;
  min-height: 50vh;
}

section:nth-child(even) {
  background-color: #eee;
}

section h1 {
  text-align: center;
  color: midnightblue;
  margin: 1rem 0;
}

section div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 15px;
}

@media screen and (min-width: 758px) {
  section div {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1020px) {
  section div {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

section div .image {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: top;
  border-radius: 50%;
  border: 3px solid midnightblue;
}

@media screen and (min-width: 758px) {
  section div .image {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 1020px) {
  section div .image {
    width: 200px;
    height: 200px;
    border-radius: 8px;
  }
}

#landing {
  height: 100vh;
  background-color: navy;
  background-image: url("../../assets/bg.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: 110%;
  background-position-y: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#landing #intro {
  margin-bottom: 2rem;
}

#landing #intro h1 {
  color: #000;
  text-align: left;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2.2rem;
}

#landing #intro p {
  font-size: 1.3rem;
}

#landing #intro button {
  outline: none;
  cursor: pointer;
  font-size: 24px;
  margin-top: .8rem;
  border: transparent;
  background-color: navy;
  color: #fff;
  padding: .45rem 1.5rem;
  border-radius: 2rem;
}

#mentors {
  background-image: url("/assets/mentor.svg");
  background-repeat: no-repeat;
  background-size: 8rem;
  background-position-y: bottom;
  min-height: 70vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 2fr;
      grid-template-columns: 1.5fr 2fr;
}

#mentors .mtext {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

#mentors .mpics {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#mentors .mpics .mentor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 1.2rem;
}

#mentors .mpics .mentor .image {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: top;
  border-radius: 50%;
  border: 3px solid midnightblue;
}

#mentors .mpics .mentor p, #mentors .mpics .mentor article {
  font-size: .5rem;
}

#mentors .mpics .mentor p {
  color: #cec000;
}

#mentors .mpics .mentor article {
  background: url("../../assets/pattern-quotes.svg");
  background-size: 1.5rem;
  background-repeat: no-repeat;
  padding: .4rem;
}
/*# sourceMappingURL=mentors.css.map */