$theme:rgb(25,25,112);
$bgcolor: rgb(0,0,128);
$color: #eee;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*,*::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

// Responsive
$tablet: 758px;
$desktop: 1020px;
@mixin tablet {
    @media screen and (min-width: #{$tablet}){
        @content
    }
}

@mixin mobile {
    @media screen and (max-width: #{$tablet}){
        @content
    }
}

@mixin desktop {
    @media screen and (min-width: #{$desktop}){
        @content
    }
}

body,html{
    height: 100%;
}

html{
    font-size: calc(1em + 1vw);
    font-family: 'Open Sans', sans-serif;
}
section{
    padding: 1.2rem;
    min-height: 50vh;
    &:nth-child(even){
        background-color: $color;
    }
    h1{
        text-align: center;
        color: $theme;
        margin: 1rem 0;
    }
    div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 15px;
        @include tablet{
            grid-template-columns: repeat(3, 1fr);
        }
        @include desktop{
            grid-template-columns: repeat(4, 1fr);
        }
        .image{
            margin: 0 auto;
            width: 100px;
            height: 100px;
            background-size: cover;
            background-position: top;
            border-radius: 50%;
            border: 3px solid $theme;
            @include tablet{
                width: 150px;
                height: 150px;
            }
            @include desktop{
                width: 200px;
                height: 200px;
                border-radius: 8px;
            }
        }
    }
}
// Main
#landing{
    height: 100vh;
    background-color: $bgcolor;
}
#mentors{
    background: white;
}
