$theme:rgb(25,25,112);
$bgcolor: rgb(0,0,128);
$color: #eee;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*,*::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

// Responsive
$tablet: 758px;
$desktop: 1020px;
@mixin tablet {
    @media screen and (min-width: #{$tablet}){
        @content
    }
}

@mixin mobile {
    @media screen and (max-width: #{$tablet}){
        @content
    }
}

@mixin desktop {
    @media screen and (min-width: #{$desktop}){
        @content
    }
}

body,html{
    height: 100%;
}

html{
    font-size: calc(1em + 1vw);
    font-family: 'Open Sans', sans-serif;
}
#link{
    color: $bgcolor;
}
section{
    padding: 1.2rem;
    min-height: 50vh;
    h1{
        text-align: center;
        color: $theme;
        margin: 1rem 0;
    }    
    .header{
        height: 80px;
        margin: 1.2rem auto;
    }
   .div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 15px;
        @include tablet{
            grid-template-columns: repeat(3, 1fr);
        }
        @include desktop{
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
// Main
#landing{
    height: 100vh;
    background-color: $bgcolor;
    background-image: url('../../assets/bg.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 110%;
    background-position-y: 70px;
    display: flex;
    align-items: flex-end;
    #intro{     
        margin-bottom: 2rem;
        h1{
            color: #000;
            text-align: left;
            margin: 0;
            margin-bottom: 1rem;
            font-size: 2.2rem;
        }
        p{
            font-size: 1.3rem;
        }
        button{
            outline: none;
            cursor: pointer;
            font-size: 24px;
            margin-top: .8rem;
            border: transparent;
            background-color: $bgcolor;
            color: #fff;
            padding: .45rem 1.5rem;
            border-radius: 2rem;
        }
    }
}
#mentors{
    background-image: url('/assets/mentor.svg');
    background-repeat: no-repeat;
    background-size: 18rem;
    background-position-y: bottom;
    min-height: 70vh;
    .header{
        background: url('../../assets/SVG/mentorheader.svg') no-repeat;
        background-position: right;
    }
    .cont{
        display: grid;
        grid-template-columns: 1.5fr 2fr;
    .mtext{
        grid-column: 1/2;
        text-align: right;
        p{
            font-size: .5rem;
            line-height: 1.75;
        }
        button{
            border: 2px solid $bgcolor;
            background-color: transparent;
            cursor: pointer;
            padding: .2rem .5rem;
            border-radius: 2rem;
            margin-top: 1.2rem;
            color: $bgcolor;
            outline: none;
        }
    }
    .mpics{
        grid-column: 2/3;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        .mentor{
            display: flex;
            text-align: right;
            flex-direction: column;
            margin: 0 1.2rem 1.2rem 1.2rem;
            .image{
                margin-right: 0;
                width: 100px;
                height: 100px;
                background-size: cover;
                background-position: top;
                border-radius: 50%;
                border: 3px solid $theme;
            }
            p,article{
                font-size: .5rem;
            }
            p{
                color: #cec000;
            }
            article{
                background: url('../../assets/pattern-quotes.svg');
                background-size: 1.5rem;
                background-repeat: no-repeat;
                padding: .4rem;
                padding-right: 0;
            }
        }
    }
    }
}
#educators{
    .header{
        background: url('../../assets/educheader.svg') no-repeat;        
        background-position: left;
        @include tablet{
            background-size: 40%;
        }
    }
    .cont{
        display: flex;
        flex-direction: column-reverse;
        @include tablet{
            display: grid;
            grid-template-columns: 1.2fr 1fr;
        }
        .epics{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @include tablet{
                grid-column: 1/2;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
            .educator{
                display: flex;
                margin: .5rem 0;
                box-shadow: 0 0 25px -7px #eee;
                width: 100%;
                padding: .5rem;
                padding-left: 1rem;
                border-radius: .5rem;
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    @include tablet{
                        justify-content: flex-end;
                    }
                }
                p{
                    line-height: .5;
                    font-size: .5rem;
                }
                button{
                    width: fit-content;
                    background: transparent;
                    border: 2px solid rgb(0,0,128);
                    padding: .2rem .5rem .2rem .2rem;
                    border-radius: 0 2rem 2rem 0;
                }
                .pic{
                    width: 100px;
                    height: 100px;
                    border: 2px solid #cec000;
                    margin-left: 1rem;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: top;
                    background-repeat: no-repeat;
                }
            }
        }
        #etext{
            margin: .5rem 0 1.2rem 0;
            text-align: center;
            @include tablet{
                padding-left: 1.2rem;
                text-align: right;
                display: flex;
                flex-direction: column;
                grid-column: 2/3;
            }
            p{
                font-size: .55rem;
            }
        }
    }
}
#technicians{
    .header{
        background: url('../../assets/educheader.svg') no-repeat;        
        background-position: center;
        @include tablet{
            background-size: 40%;
        }
    }
    p{
        font-size: .6rem;
        background: url('/assets/pattern-quotes.svg');
        background-repeat: no-repeat;
        background-size: 1.2rem;
    }
    .cont{
        display: flex;
        flex-wrap: wrap;
        @include tablet{
            padding: 0 6rem;
        }
        .item{
            width: 100%;
            margin: .5rem;
            text-align: center;
            box-shadow: 0 0 25px -7px #eee;
            padding: 1rem .6rem;
            border-radius: .5rem;
            @include tablet{
                width: 30vw;
                box-shadow: none;
                padding: 0;
                border-radius: 0;
            }
            @include desktop {
                width: 20vw;
            }
            .picture{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 2px solid #cec000;
                margin: .5rem auto;
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}
#sponsors{
    .header{
        background: url('../../assets/SVG/mentorheader.svg') no-repeat;        
        background-position: right;
        @include tablet{
            background-size: 40%;
        }
    }
    p{
        font-size: .6rem;
        background: url('/assets/pattern-quotes.svg');
        background-repeat: no-repeat;
        background-size: 1.2rem;
    }
    .sponsor-grid{
        @include tablet{
            display: grid;
            grid-template-columns: 1fr 2fr;
        }
        @include desktop{
            grid-template-columns: 1fr 2.5fr;
        }
        .cont{
            @include tablet{                
                grid-column: 2/3;
            }
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            .item{
                width: 100%;
                text-align: center;
                margin: .5rem 0;
                box-shadow: 0 0 25px -7px #eee;
                padding: 1rem .6rem;
                border-radius: .5rem;
                @include tablet{
                    width: 20vw;
                    margin: .5rem;
                    box-shadow: none;
                    padding: 0;
                    border-radius: 0;
                }
                .picture{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    border: 2px solid #cec000;
                    margin: .5rem auto;
                    background-position: top;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}
