$theme:rgb(25,25,112);
$bgcolor: rgb(0,0,128);
$color: #eee;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*,*::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

// Responsive
$tablet: 758px;
$desktop: 1020px;
@mixin tablet {
    @media screen and (min-width: #{$tablet}){
        @content
    }
}

@mixin mobile {
    @media screen and (max-width: #{$tablet}){
        @content
    }
}

@mixin desktop {
    @media screen and (min-width: #{$desktop}){
        @content
    }
}

body,html{
    height: 100%;
}

html{
    font-size: calc(1em + 1vw);
    font-family: 'Open Sans', sans-serif;
}
#link{
    color: $bgcolor;
}
section{
    padding: 1.2rem;
    min-height: 50vh;
    h1{
        text-align: center;
        color: $theme;
        margin: 1rem 0;
    }    
    .header{
        height: 80px;
        margin: 1.2rem auto;
    }
    div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 15px;
        @include tablet{
            grid-template-columns: repeat(3, 1fr);
        }
        @include desktop{
            grid-template-columns: repeat(4, 1fr);
        }
        .image{
            margin: 0 auto;
            width: 100px;
            height: 100px;
            background-size: cover;
            background-position: top;
            border-radius: 50%;
            border: 3px solid $theme;
            @include tablet{
                width: 150px;
                height: 150px;
            }
            @include desktop{
                width: 200px;
                height: 200px;
                border-radius: 8px;
            }
        }
    }
}
// Main
#landing{
    height: 100vh;
    background-color: $bgcolor;
    background-image: url('../../assets/bg.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 110%;
    background-position-y: 70px;
    display: flex;
    align-items: flex-end;
    #intro{     
        margin-bottom: 2rem;
        h1{
            color: #000;
            text-align: left;
            margin: 0;
            margin-bottom: 1rem;
            font-size: 2.2rem;
        }
        p{
            font-size: 1.3rem;
        }
        button{
            outline: none;
            cursor: pointer;
            font-size: 24px;
            margin-top: .8rem;
            border: transparent;
            background-color: $bgcolor;
            color: #fff;
            padding: .45rem 1.5rem;
            border-radius: 2rem;
        }
    }
}
#mentors{
    background-image: url('/assets/mentor.svg');
    background-repeat: no-repeat;
    background-size: 18rem;
    background-position-y: bottom;
    min-height: 70vh;
    .header{
        background: url('../../assets/SVG/mentorheader.svg') no-repeat;
        background-position: right;
    }
    .cont{
        display: grid;
        grid-template-columns: 1.5fr 2fr;
    .mtext{
        grid-column: 1/2;
        text-align: right;
        p{
            font-size: .5rem;
            line-height: 1.75;
        }
        button{
            border: 2px solid $bgcolor;
            background-color: transparent;
            cursor: pointer;
            padding: .2rem .5rem;
            border-radius: 2rem;
            margin-top: 1.2rem;
            color: $bgcolor;
            outline: none;
        }
    }
    .mpics{
        grid-column: 2/3;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        .mentor{
            display: flex;
            text-align: right;
            flex-direction: column;
            margin: 0 1.2rem 1.2rem 1.2rem;
            .image{
                margin-right: 0;
                width: 100px;
                height: 100px;
                background-size: cover;
                background-position: top;
                border-radius: 50%;
                border: 3px solid $theme;
            }
            p,article{
                font-size: .5rem;
            }
            p{
                color: #cec000;
            }
            article{
                background: url('../../assets/pattern-quotes.svg');
                background-size: 1.5rem;
                background-repeat: no-repeat;
                padding: .4rem;
                padding-right: 0;
            }
        }
    }
    }
}
#educators{
    .header{
        background: url('../../assets/educheader.svg') no-repeat;        
        background-position: left;
        background-size: 45%;
    }
}
