$theme:rgb(25,25,112);
$bgcolor: rgb(0,0,128);
$color: #eee;


// responsive
$desktop:1024px;

@mixin desktop {
    @media(min-width: #{$desktop}){
        @content
    }
}


#landing{
    background-color: $bgcolor;
    background-image: url('../../assets/Improves-Services-SVG.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 12rem;
    background-position-y: 7rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color;
    @include desktop{
        min-height: 80vh;
        background-size: cover;
        background-position-x: calc(100% + 14rem);
        background-position-y: -4rem;
    }
    h1{
        font-size: 1.2em;
        margin-bottom: .2em;
    }
    p{
        font-size: .8em;
        margin-bottom: .6em;
    }
}