@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


$theme:rgb(25,25,112);
$bgcolor: rgb(0,0,128);
$color: #eee;


// responsive
$desktop:1024px;

@mixin desktop {
    @media(min-width: #{$desktop}){
        @content
    }
}


#landing{
    background-color: $bgcolor;
    background-image: url('../../assets/Improves-Services-SVG.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 12rem;
    background-position-y: 7rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color;
    @include desktop{
        min-height: 85vh;
        background-size: cover;
        background-position-x: calc(100% + 16rem);
        background-position-y: -4rem;
        align-items: flex-start;
        padding-left: 1.2rem;
        line-height: 1.35em;
    }
    h1{
        font-size: 1.2em;
        margin-bottom: .2em;
        margin-top: -2rem;
        font-family: 'Open Sans', sans-serif;
        @include desktop{
            font-size: 1.5rem;
        }
    }
    p{
        font-size: .8em;
        margin-bottom: .6em;
    }
}